In [1]:
import requests
import pandas as pd

In [53]:
redfin_file = 'Redfin_Scrape.csv'
trulia_file = 'Trulia_Scrape.csv'
hf_file = 'HomeFinder_Scrape.csv'

redfin_df = pd.read_csv(redfin_file)
trulia_df = pd.read_csv(trulia_file)
hf_df = pd.read_csv(hf_file)

In [40]:
redfin_df.columns, trulia_df.columns, hf_df.columns

(Index(['Unnamed: 0', 'Price', 'Address', 'City', 'Zip Code', '# of Beds',
        '# of Baths', 'sqft'],
       dtype='object'),
 Index(['Unnamed: 0', 'Price', '# of Beds', '# of Baths', 'sqft', 'Address',
        'City'],
       dtype='object'),
 Index(['Unnamed: 0', 'Price', '# of Beds', '# of Baths', 'Address', 'City',
        'Zip Code'],
       dtype='object'))

In [41]:
hf_df

,Unnamed: 0,Price,# of Beds,# of Baths,Address,City,Zip Code
0,0,$966,3 Bd,"2 bath\n | 1,423",Frank,"Dallas, TX",75210
1,1,"$317,900",3 Bd,"2 bath\n | 1,428",7947 Claremont DR,"Dallas, TX",75228
2,2,"$50,000",1 Bd,1 bath,9833 Walnut Street,"Dallas, TX",75243
3,3,"$50,000",1 Bd,1 bath,9825 Walnut Street,"Dallas, TX",75243
4,4,"$50,000",1 Bd,1 bath,9809 Walnut Street,"Dallas, TX",75243
...,...,...,...,...,...,...,...
3119,3119,"$135,900",3 Bd,2 bath,1719 Westview Terrace,"Arlington, TX",76013
3120,3120,"$365,000",3 Bd,2 bath,1405 Mount Evans Trail,"Arlington, TX",76005
3121,3121,"$265,000",4 Bd,2 bath,809 Mckenzie Place,"Arlington, TX",76018
3122,3122,"$159,000",0 Bd,0 bath,708 Houston Street,"Arlington, TX",76012
3123,3123,"$250,000",4 Bd,2 bath,5115 Eagle Nest Drive,"Arlington, TX",76017

In [30]:
trulia_df

,Unnamed: 0,Price,# of Beds,# of Baths,sqft,Address,City
0,0,"$245,000",4bd,2ba,"2,200 sqft",2827 Curvilinear Ct,"Southeast Dallas, Dallas, TX"
1,1,"$475,000",3bd,2ba,"2,089 sqft",7036 Winchester St,"Northeast Dallas, Dallas, TX"
2,2,"$275,000",4bd,2ba,"1,800 sqft",132 W Woodin Blvd,"Cedar Crest, Dallas, TX"
3,3,"$209,900",3bd,2ba,"1,902 sqft",7311 Hardwood Trl,"Southwest Dallas, Dallas, TX"
4,4,"$225,000",5bd,2ba,"2,500 sqft",2720 E Atoll Dr,"Cedar Crest, Dallas, TX"
...,...,...,...,...,...,...,...
235,235,"$425,000",4bd,2ba,"2,666 sqft",3817 Harrison Dr,"Indian Creek, Carrollton, TX"
236,236,"$350,000",4bd,3ba,"2,368 sqft",2517 Rosebud Cir,"Carrollton Summertree, Carrollton, TX"
237,237,"$399,900",4bd,3ba,"2,723 sqft",4216 Eastwood Dr,"Oak Hills, Carrollton, TX"
238,238,"$398,750",4bd,3ba,"2,347 sqft",1514 Northland St,"Trinity Mills, Carrollton, TX"
239,239,"$310,000",2bd,3ba,"1,940 sqft",4121 Indian Run Dr,"Indian Creek, Carrollton, TX"

In [31]:
redfin_df

,Unnamed: 0,Price,Address,City,Zip Code,# of Beds,# of Baths,sqft
0,0,"$564,900",7200 Neches Pine Dr,"Frisco, TX",75036,3 Beds,2.5 Baths,"2,997 Sq. Ft."
1,1,"$365,000",10045 Bell Rock Rd,"Frisco, TX",75035,3 Beds,2 Baths,"2,169 Sq. Ft."
2,2,"$405,000",11017 Aurora Ln,"Frisco, TX",75035,3 Beds,2.5 Baths,"2,166 Sq. Ft."
3,3,"$449,900",9991 Slick Rock Trl,"Frisco, TX",75033,4 Beds,2.5 Baths,"2,574 Sq. Ft."
4,4,"$515,000",8326 Sitka St,"Frisco, TX",75035,4 Beds,2.5 Baths,"2,962 Sq. Ft."
5,5,"$640,000",2079 Alcove Dr,"Frisco, TX",75034,4 Beds,2.5 Baths,"2,695 Sq. Ft."
6,6,"$389,900",2910 Reynolds Ln,"Frisco, TX",75033,3 Beds,2 Baths,"2,236 Sq. Ft."
7,7,"$475,000",13714 French Creek Ln,"Frisco, TX",75035,3 Beds,2.5 Baths,"2,373 Sq. Ft."
8,8,"$930,000",4520 Florence Dr,"Frisco, TX",75034,3 Beds,3.5 Baths,"4,228 Sq. Ft."
9,9,"$439,900",7601 Blossom Ln,"Frisco, TX",75034,3 Beds,2.5 Baths,"2,383 Sq. Ft."
10,10,"$295,000",9805 Concord Dr,"Frisco, TX",75035,3 Beds,2.5 Baths,"1,396 Sq. Ft."
11,11,"$900,000",6198 Rachel Dr,"Frisco, TX",75034,4 Beds,4 Baths,"4,967 Sq. Ft."
12,12,"$339,999",12018 Chattanooga Dr,"Frisco, TX",75035,3 Beds,2 Baths,"1,417 Sq. Ft."
13,13,"$520,000",12571 Peace River Dr,"Frisco, TX",75035,5 Beds,4 Baths,"3,691 Sq. Ft."
14,14,"$460,000",9569 Lance Dr,"Frisco, TX",75035,4 Beds,2.5 Baths,"3,069 Sq. Ft."
15,15,"$325,000",7297 Chinquapin Dr,"Frisco, TX",75033,4 Beds,2 Baths,"1,995 Sq. Ft."
16,16,"$500,000",7152 Maumee Valley Ct,"Frisco, TX",75036,3 Beds,2 Baths,"2,246 Sq. Ft."
17,17,"$325,000",13160 Guerin Dr,"Frisco, TX",75035,4 Beds,2 Baths,"2,073 Sq. Ft."
18,18,"$340,000",6848 Regello Dr,"Frisco, TX",75034,2 Beds,2.5 Baths,"1,818 Sq. Ft."
19,19,"$350,000",9758 Golden Fountain Dr,"Frisco, TX",75033,4 Beds,2 Baths,"2,096 Sq. Ft."
20,20,"$325,400",11908 Clearpoint Ct,"Frisco, TX",75036,4 Beds,2 Baths,"1,852 Sq. Ft."
21,21,"$445,900",12004 Rushing Creek Dr,"Frisco, TX",75035,4 Beds,3.5 Baths,"2,860 Sq. Ft."
22,22,"$375,000",5904 Louisville Dr,"Frisco, TX",75035,4 Beds,2 Baths,"2,027 Sq. Ft."
23,23,"$675,000",1567 San Andres Dr,"Frisco, TX",75033,5 Beds,3.5 Baths,"4,668 Sq. Ft."
24,24,"$437,500",2649 Marshall Dr,"Frisco, TX",75033,4 Beds,3.5 Baths,"2,927 Sq. Ft."
25,25,"$475,000",11708 Blackhawk Dr,"Frisco, TX",75033,4 Beds,2.5 Baths,"2,860 Sq. Ft."
26,26,"$679,545",1545 Morris Ln,"Frisco, TX",75034,4 Beds,3 Baths,"3,623 Sq. Ft."
27,27,"$499,900",12923 Yale Ct,"Frisco, TX",75035,3 Beds,3 Baths,"1,882 Sq. Ft."
28,28,"$774,900",16372 Lorna Doone Ln,"Frisco, TX",75033,5 Beds,4.5 Baths,"4,147 Sq. Ft."
29,29,"$749,000",12858 Palo Duro Dr,"Frisco, TX",75033,5 Beds,5.5 Baths,"4,710 Sq. Ft."
30,30,"$369,000",2450 Thorntree Dr,"Frisco, TX",75033,4 Beds,3 Baths,"2,207 Sq. Ft."
31,31,"$425,000",7927 Canal St,"Frisco, TX",75034,2 Beds,2.5 Baths,"1,706 Sq. Ft."
32,32,"$1,150,000",15246 Crystal Beach Ln,"Frisco, TX",75035,6 Beds,5 Baths,"4,813 Sq. Ft."
33,33,"$1,152,990",2481 Haft River Rd,"Frisco, TX",75034,5 Beds,4 Baths,"4,002 Sq. Ft."
34,34,"$540,000",8260 Fairview Dr,"Frisco, TX",75033,3 Beds,3.5 Baths,"2,128 Sq. Ft."
35,35,"$1,200,000",6006 Connely Dr,"Frisco, TX",75034,5 Beds,4.5 Baths,"5,253 Sq. Ft."
36,36,"$925,000",5111 Stillwater Trl,"Frisco, TX",75034,4 Beds,4.5 Baths,"4,061 Sq. Ft."
37,37,"$625,000",1403 Crockett Dr,"Frisco, TX",75033,4 Beds,3.5 Baths,"3,757 Sq. Ft."
38,38,"$329,000",12144 Cardinal Creek Dr,"Frisco, TX",75033,3 Beds,2 Baths,"1,805 Sq. Ft."
39,39,"$430,000",949 Imperial Valley Ln,"Frisco, TX",75036,2 Beds,2 Baths,"1,786 Sq. Ft."
40,40,"$350,000",2260 Lariat Trl,"Frisco, TX",75036,3 Beds,2 Baths,"1,841 Sq. Ft."

In [55]:
for i in hf_df.index:
    hf_df['City'][i] = hf_df['City'][i][:-4]
    hf_df['# of Beds'][i] = hf_df['# of Beds'][i][:hf_df['# of Beds'][i].find(' ')]
    hf_df['# of Baths'][i] = hf_df['# of Baths'][i][:hf_df['# of Baths'][i].find(' ')]
    hf_df['Price'][i] = hf_df['Price'][i].replace('$', '')
    hf_df['Price'][i] = hf_df['Price'][i].replace(',', '')
    
hf_df['# of Beds'] = hf_df['# of Beds'].astype(int)
hf_df['# of Baths'] = hf_df['# of Baths'].astype(int)
hf_df['Price'] = hf_df['Price'].astype(int)

<ipython-input-55-6a3b4f31af6d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hf_df['City'][i] = hf_df['City'][i][:-4]
<ipython-input-55-6a3b4f31af6d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hf_df['# of Beds'][i] = hf_df['# of Beds'][i][:hf_df['# of Beds'][i].find(' ')]
<ipython-input-55-6a3b4f31af6d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hf_df['# of Baths'][i] = hf_df['# of Baths'][i][:hf_df['# of Baths'][i].find(' ')]
<ipython-input-55-6a3b4f31af6d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hf_df['Price'][i] = hf_df['Price'][i].replace('$', '')
<ipython-input-55-6a3b4f31af6d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hf_df['Price'][i] = hf_df['Price'][i].replace(',', '')

In [56]:
hf_df

,Unnamed: 0,Price,# of Beds,# of Baths,Address,City,Zip Code
0,0,966,3,2,Frank,Dallas,75210
1,1,317900,3,2,7947 Claremont DR,Dallas,75228
2,2,50000,1,1,9833 Walnut Street,Dallas,75243
3,3,50000,1,1,9825 Walnut Street,Dallas,75243
4,4,50000,1,1,9809 Walnut Street,Dallas,75243
...,...,...,...,...,...,...,...
3119,3119,135900,3,2,1719 Westview Terrace,Arlington,76013
3120,3120,365000,3,2,1405 Mount Evans Trail,Arlington,76005
3121,3121,265000,4,2,809 Mckenzie Place,Arlington,76018
3122,3122,159000,0,0,708 Houston Street,Arlington,76012
3123,3123,250000,4,2,5115 Eagle Nest Drive,Arlington,76017

In [61]:
hf_df.loc[hf_df['Price'] < 10000]

,Unnamed: 0,Price,# of Beds,# of Baths,Address,City,Zip Code
0,0,966,3,2,Frank,Dallas,75210
57,57,3400,1,2,2900 Mckinnon Street,Dallas,75201
440,440,3168,5,4,Toffenham,Frisco,75035
880,880,2667,3,2,Eisenhower,Plano,75023
1276,1276,1619,4,2,Ravenswood,Fort Worth,76112
1324,1324,6500,0,0,600 30th Street NE,Fort Worth,76106
1716,1716,1267,3,2,Highbrook,Garland,75044
2024,2024,3062,5,4,Wingren,Irving,75062
2252,2252,5000,0,0,9999 Grauwyler Road,Irving,75061
2310,2310,2401,4,2,Greenstone,Carrollton,75010
2530,2530,2434,2,2,Quorum Drive,Addison,75001
2596,2596,800,0,0,Sonterra Drive,Cedar Hill,75104
2706,2706,1701,3,2,Sutherland,Arlington,76017