In [47]:
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
from splinter import Browser
import pandas as pd

In [48]:
executable_path = {"executable_path": ChromeDriverManager().install()}
browser = Browser("chrome", **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389
[WDM] - Driver [C:\Users\freak\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

In [49]:
url = "https://homefinder.com/for-sale/TX/"

In [51]:
for r in range(1,7), range(8,21):
    print(r)

range(1, 7)
range(8, 21)

In [37]:
cities = [
    'Dallas', 
    'Frisco', 
    'Plano', 
    'Fort-Worth',
    'Garland',
    'Irving',
    'Arlington', 
    'Carrollton',
    'Addison',
    'Cedar-Hill'
]

price_list = []
bed_list = []
bath_list = []
address_list = []
city_list = []
zip_list = []

In [50]:
cities = []

for i in cities:
    for r in range(1,21):
        browser.visit(url + i + '?page=' + str(r))
        
#         url2 = url
#         url2 += i
#         url2 += '?page='
#         url2 += str(r)
#         browser.visit(url2)
        
        html = browser.html
        soup = BeautifulSoup(html, 'html.parser')

        price = soup.find_all('p', class_="h4 text-primary mb-0")
        for p in price:
            p1 = p.text[11:-20]
            p2 = p1[:p1.find('\n')]
            price_list.append(p2)

        bed_bath = soup.find_all('div', class_="text-muted")
        for b in bed_bath:
            if b.text[7:9] == 'Bd':
                bed_list.append(b.text[5:b.text.find(' | ')])
                bath_list.append(b.text[b.text.find(' | ') + 3:-5])

        address = soup.find_all('p', class_="addr-component h5 mb-0")
        for a in address:
            address_list.append(a.text[9:-8])


        city = soup.find_all('div', class_="addr-component")
        for c in city:
            city_list.append(c.text[9:-13])


        zip = soup.find_all('div', class_="addr-component")
        for z in zip:
            zip_list.append(z.text[-12:-7])

print(len(price_list))
print(len(bed_list))
print(len(bath_list))
print(len(address_list))
print(len(city_list))
print(len(zip_list))

3190
3190
3190
3190
3190
3190

In [42]:
df = pd.DataFrame({"Price": price_list, 
                   "# of Beds": bed_list, 
                   "# of Baths": bath_list, 
                   "Address": address_list, 
                   "City": city_list,
                   "Zip Code": zip_list})
df

,Price,# of Beds,# of Baths,Address,City,Zip Code
0,$966,3 Bd,"2 bath\n | 1,423",Frank,"Dallas, TX",75210
1,"$317,900",3 Bd,"2 bath\n | 1,428",7947 Claremont DR,"Dallas, TX",75228
2,"$50,000",1 Bd,1 bath,9833 Walnut Street,"Dallas, TX",75243
3,"$50,000",1 Bd,1 bath,9825 Walnut Street,"Dallas, TX",75243
4,"$50,000",1 Bd,1 bath,9809 Walnut Street,"Dallas, TX",75243
...,...,...,...,...,...,...
3119,"$135,900",3 Bd,2 bath,1719 Westview Terrace,"Arlington, TX",76013
3120,"$365,000",3 Bd,2 bath,1405 Mount Evans Trail,"Arlington, TX",76005
3121,"$265,000",4 Bd,2 bath,809 Mckenzie Place,"Arlington, TX",76018
3122,"$159,000",0 Bd,0 bath,708 Houston Street,"Arlington, TX",76012
3123,"$250,000",4 Bd,2 bath,5115 Eagle Nest Drive,"Arlington, TX",76017

In [43]:
# for x in df.index:
#     df["# of Baths"][x] = float(df["# of Baths"][x][:df["# of Baths"][x].find(' b')])
#     df["# of Beds"][x] = float(df["# of Beds"][x][:df["# of Beds"][x].find(' B')])
# df

In [52]:
browser.quit()

In [45]:
df.to_csv("HomeFinder_Scrape.csv")