In [1]:
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
from splinter import Browser
import pandas as pd

In [2]:
executable_path = {"executable_path": ChromeDriverManager().install()}
browser = Browser("chrome", **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Driver [C:\Users\freak\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

In [3]:
url = "https://homefinder.com/for-sale/TX/"

In [4]:
for r in range(1,7), range(8,21):
    print(r)

range(1, 7)
range(8, 21)

In [5]:
cities = [
    'Dallas', 
    'Frisco', 
    'Plano', 
    'Fort-Worth',
    'Garland',
    'Irving',
#     'Arlington', 
    'Carrollton',
    'Addison',
    'Cedar-Hill'
]

price_list = []
bed_list = []
bath_list = []
address_list = []
city_list = []
zip_list = []

In [6]:
for i in cities:
    for r in range(1,21):
        browser.visit(url + i + '?page=' + str(r))

        html = browser.html
        soup = BeautifulSoup(html, 'html.parser')

        price = soup.find_all('p', class_="h4 text-primary mb-0")
        for p in price:
            p1 = p.text[11:-20]
            p2 = p1[:p1.find('\n')]
            price_list.append(p2)

        bed_bath = soup.find_all('div', class_="text-muted")
        for b in bed_bath:
            if b.text[7:9] == 'Bd':
                bed_list.append(b.text[5:b.text.find(' | ')])
                bath_list.append(b.text[b.text.find(' | ') + 3:-5])

        address = soup.find_all('p', class_="addr-component h5 mb-0")
        for a in address:
            address_list.append(a.text[9:-8])


        city = soup.find_all('div', class_="addr-component")
        for c in city:
            city_list.append(c.text[9:-13])

        zip = soup.find_all('div', class_="addr-component")
        for z in zip:
            zip_list.append(z.text[-12:-7])

print(len(price_list))
print(len(bed_list))
print(len(bath_list))
print(len(address_list))
print(len(city_list))
print(len(zip_list))

2706
2706
2706
2706
2706
2706

In [7]:
df = pd.DataFrame({"Price": price_list, 
                   "# of Beds": bed_list, 
                   "# of Baths": bath_list, 
                   "Address": address_list, 
                   "City": city_list,
                   "Zip Code": zip_list})
df

,Price,# of Beds,# of Baths,Address,City,Zip Code
0,"$124,900",2 Bd,2 bath,12484 Abrams Road,"Dallas, TX",75243
1,"$149,000",1 Bd,2 bath,5200 Martel Avenue,"Dallas, TX",75206
2,"$159,999",1 Bd,2 bath,5100 Verde Valley Lane,"Dallas, TX",75254
3,"$160,000",2 Bd,1 bath,2514 Glenfield Avenue,"Dallas, TX",75233
4,"$170,000",2 Bd,3 bath,10566 High Hollows Drive,"Dallas, TX",75230
...,...,...,...,...,...,...
2701,"$285,000",4 Bd,3 bath,729 Gibson Street,"Cedar Hill, TX",75104
2702,"$242,500",3 Bd,2 bath,415 Meadow Ridge Drive,"Cedar Hill, TX",75104
2703,"$1,700,000",4 Bd,4 bath,1737 Valley View Drive,"Cedar Hill, TX",75104
2704,"$268,000",5 Bd,3 bath,301 Oak Lane,"Cedar Hill, TX",75104
2705,"$225,000",3 Bd,2 bath,122 Cooper Street,"Cedar Hill, TX",75104

In [8]:
browser.quit()

In [9]:
df.to_csv("../CSVs/HomeFinder_Scrape.csv")